<style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<link href="styles/parking.css" rel="stylesheet" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script src="Scripts/Framework/jQuery/jquery-2.1.4.min.js"></script>
<script src="Scripts/Framework/Angular/angular-route.min.js"></script>
<script src="Scripts/Framework/GoogleMaps/markerclusterer.js"></script>
<script src="Scripts/Framework/bootstrap/ui-bootstrap.min.js"></script>

<script src="Scripts/03 Module/RouteConfig.js"></script>
<script src="Scripts/03 Module/TypeDefinitions.js"></script>
<script src="Scripts/05 Service/ParkingLotService.js"></script>
<script src="Scripts/02 Directive/ParkingMapDirective.js"></script>
<script src="Scripts/04 Controller/MainCtrl.js"></script>
<script src="Scripts/04 Controller/SignupCtrl.js"></script>
<script src="Scripts/04 Controller/LoginCtrl.js"></script>
<script src="Scripts/03 Module/AuthInterceptor.js"></script>
<script src="Scripts/03 Module/app.js"></script>