$mq-breakpoints: (
    // Base device classes
    mobile:      320px,
    tablet:      768px,
    desktop:    1024px,
    widescreen: 1200px,
    tvscreen:   1300px,

    // Tweakpoints
    mobileLandscape: 480px
);


@import "mq";
@import "markup-variables";
@import "markup-mixins";
@import "utilities";
@import "base-reset";
@import "fonts";
@import "forms";
@import "min-side-font-icons.scss";
@import "general";
@import "header";
@import "footer";
@import "map";
@import "navigation";
@import "main";
@import "sidebar";
